body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  text-align: center;
}

.container {
  width: 450px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}

h1 {
  color: #0072ff;
}

select {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #0072ff;
  font-size: 16px;
}

#downloadBox {
  margin-top: 25px;
}

.btn {
  background: #0072ff;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  display: inline-block;
}
